/* =========================
   Component - Input - Wrapper
   ========================= */
.component-input__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;

  border: 1px solid;
  border-color: var(--component-input-border-color);
  background: var(--component-input-background);
  box-shadow: var(--component-input-box-shadow);

  height: var(--component-input-height);
  min-height: var(--component-input-height);
  max-height: var(--component-input-height);
  border-radius: var(--component-input-radius);

  overflow: hidden;
}

.component-input__wrapper.component-input__wrapper--is-zero-radius {
  border-radius: 0;
}

.component-input__wrapper.component-input__wrapper--is-full-radius {
  border-radius: 100px;
}

.component-input__wrapper.component-input__wrapper--is-min-width-as-content {
  min-width: max-content;
  width: max-content;
}

.component-input__wrapper.component-input__wrapper--is-hidden {
  opacity: 0.5;
}

.component-input__wrapper:not(.component-input__wrapper--is-hidden) {
  opacity: 1;
}

.component-input__wrapper.component-input__wrapper--is-hidden-border {
  border: 0px solid transparent !important;
}

.component-input__wrapper.component-input__wrapper--is-full-radius {
  border-radius: 100px;
}

.component-input__wrapper.component-input__wrapper--is-full-size {
  height: 100%;
  max-height: 100%;
  width: 100%;
}

.component-input__wrapper.component-input__wrapper--is-zero-radius {
  border-radius: 0px;
}

.component-input__wrapper.component-input__wrapper--is-width-as-height {
  width: var(--component-input-height);
  min-width: var(--component-input-height);
}

.component-input__wrapper.component-input__wrapper--is-width-as-height .component-input {
  text-align: center;
  padding: 0px;
}

.component-input__wrapper.component-input__wrapper--is-center .component-input {
  text-align: center;
  padding: 0px;
}
/* =========================
   Component - Input
   ========================= */
.component-input {
  resize: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 0px solid;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.component-input {
  padding: 0 var(--component-input-padding);
}
.component-input,
.component-input:active,
.component-input:focus-visible,
.component-input:focus {
  color: var(--component-input-color);
  background: transparent;
  border-color: transparent;
  outline: none;
}

.component-input::placeholder,
.component-input::-webkit-input-placeholder,
.component-input:-ms-input-placeholder {
  color: var(--component-input-placeholder-color);
  opacity: 1;
}

.component-input.component-input--has-prefix {
  padding-left: calc(
    var(--component-input-prefix-width) +
    var(--component-input-prefix-right) +
    var(--component-input-prefix-left)
  );
}

.component-input.component-input--has-postfix {
  padding-right: calc(
    var(--component-input-postfix-width) +
    var(--component-input-postfix-right) +
    var(--component-input-postfix-left)
  );
}

/* =========================
   Component - Input - Prefix
   ========================= */
.component-input__prefix {
  position: absolute;
  display: flex;
  left: var(--component-input-prefix-left);
  width: var(--component-input-prefix-width);
  height: 100%;
}

/* =========================
   Component - Input - Postfix
   ========================= */
.component-input__postfix {
  position: absolute;
  display: flex;
  right: var(--component-input-postfix-right);
  width: var(--component-input-postfix-width);
  height: 100%;
}
