/* =========================
   Component - Select - Wrapper
   ========================= */
.component-select__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

  border: 1px solid transparent;
  width: 100%;
  height: fit-content;
  justify-content: "flex-start";

  padding: calc(var(--component-select-padding) / 4)
    calc(var(--component-select-padding) - var(--component-select-padding) / 2.8);
  gap: calc(var(--component-select-padding) / 2.8);
  min-height: var(--component-select-height);
  border-radius: var(--component-select-border-radius);

  background: var(--component-select-background-input);
  border-color: var(--component-select-border-color-input);
  color: var(--component-select-color-input);
}

.component-select__wrapper.component-select--is-center {
  justify-content: center;
}

/* =========================
   Component - Select - Dropdown - List - Wrapper
   ========================= */
.component-select__dropdown__list__wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  margin: 0;
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  gap: calc(var(--component-select-padding) / 2.8);
  padding: calc(var(--component-select-padding) / 4);
}

/* =========================
   Component - Select - Dropdown - List
   ========================= */
.component-select__dropdown__list {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateZ(0);
  flex-shrink: 0;
  background: var(--component-select-background-option);
  gap: calc(var(--component-select-padding) / 2.8);
}
/* =========================
   Component - Select - Dropdown - List - Option
   ========================= */
.component-select__dropdown__list__option {
  display: flex;
  align-items: center;
  cursor: pointer;
  top: 0;
  left: 0;
  user-select: none;
  flex-shrink: 0;
  opacity: 1;
  padding: calc(var(--component-select-padding) / 4)
    calc(var(--component-select-padding) - var(--component-select-padding) / 2.8);
  width: 100%;
  border: 1px solid;
  border-radius: 0;
  justify-content: flex-start;
}

.component-select__dropdown__list__option:focus-visible {
  outline: none;
}
.component-select__dropdown__list__option {
  border-radius: var(--component-select-border-radius);
}
/* .component-select__dropdown__list__option:first-child {
  border-radius: var(--component-select-border-radius) var(--component-select-border-radius) 0px 0px;
}
.component-select--is-show-scroll .component-select__dropdown__list__option:first-child {
  border-radius: var(--component-select-border-radius) 0px 0px 0px;
}
.component-select__dropdown__list__option:last-child {
  border-radius: 0 0 var(--component-select-border-radius) var(--component-select-border-radius);
}
.component-select--is-show-scroll .component-select__dropdown__list__option:last-child {
  border-radius: 0px 0px 0px var(--component-select-border-radius);
}
.component-select__dropdown__list__option:not(:first-child):not(:last-child) {
  border-radius: 0px;
}
.component-select__dropdown__list__option:first-child:last-child {
  border-radius: var(--component-select-border-radius);
}
.component-select--is-show-scroll .component-select__dropdown__list__option:first-child:last-child {
  border-radius: var(--component-select-border-radius) 0px 0px var(--component-select-border-radius);
} */

.component-select__dropdown__list__option,
.component-select__dropdown__list__option:hover,
.component-select__dropdown__list__option:active,
.component-select__dropdown__list__option:focus-visible {
  background: var(--component-select-background-option);
  border-color: transparent;
  color: var(--component-select-color);
}

.component-select__dropdown__list__option.component-select__dropdown__list__option--is-border,
.component-select__dropdown__list__option.component-select__dropdown__list__option--is-border:hover,
.component-select__dropdown__list__option.component-select__dropdown__list__option--is-border:active,
.component-select__dropdown__list__option.component-select__dropdown__list__option--is-border:focus-visible {
  border-color: var(--component-select-border-color);
}

.component-select__dropdown__list__option.component-select__dropdown__list__option--is-checked,
.component-select__dropdown__list__option.component-select__dropdown__list__option--is-checked:hover,
.component-select__dropdown__list__option.component-select__dropdown__list__option--is-checked:active,
.component-select__dropdown__list__option.component-select__dropdown__list__option--is-checked:focus-visible {
  background: var(--component-select-background-checked);
  border-color: var(--component-select-border-color-checked);
}

.component-select__dropdown__list__option.component-select__dropdown__list__option--is-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.component-select--is-center .component-select__dropdown__list__option {
  justify-content: center;
}
/* =========================
   Component - Select - Dropdown - List - Option - Icon
   ========================= */
.component-select__dropdown__list__option__icon {
  position: absolute;
  align-items: center;
  color: var(--component-select-border-color-input);
  right: calc(var(--component-select-padding) - 6px);
}
.component-select__dropdown__list__option--is-checked .component-select__dropdown__list__option__icon {
  color: var(--component-select-border-color-select);
}

/* =========================
   Component - Select - List
   ========================= */
.component-select__list {
  list-style: none;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: calc(var(--component-select-padding) / 2.8);
}
.component-select--is-wrap-select-option .component-select__list {
  flex-wrap: wrap;
}
/* =========================
   Component - Select - List - Button
   ========================= */
.component-select__list__button {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: calc(var(--component-select-padding) / 2.8);
  padding: calc(var(--component-select-padding) / 2.8) var(--component-select-padding);
}
/* =========================
   Component - Select - List - Option
   ========================= */
.component-select__list__option {
  display: flex;
  align-items: center;
  opacity: 1;
  cursor: default;
  flex-shrink: 0;
  overflow: hidden;
  width: fit-content;
  padding: calc(var(--component-select-padding) / 2.8);
  border-radius: var(--component-select-border-radius);
}
.component-select--is-clear-when-click-select-list-option .component-select__list__option {
  cursor: pointer;
}
.component-select__list__option,
.component-select__list__option:hover,
.component-select__list__option:active,
.component-select__list__option:focus-visible,
.component-select__list__option.component-select__list__option--is-checked,
.component-select__list__option:hover.component-select__list__option--is-checked,
.component-select__list__option:active.component-select__list__option--is-checked,
.component-select__list__option:focus-visible.component-select__list__option--is-checked {
  border: 1px solid;
  background: var(--component-select-background-checked);
  border-color: var(--component-select-border-color-checked);
  color: var(--component-select-color);
}
.component-select--is-only-color-in-select-list-option .component-select__list__option,
.component-select--is-only-color-in-select-list-option .component-select__list__option:hover,
.component-select--is-only-color-in-select-list-option .component-select__list__option:active,
.component-select--is-only-color-in-select-list-option .component-select__list__option:focus-visible,
.component-select--is-only-color-in-select-list-option
  .component-select__list__option.component-select__list__option--is-checked,
.component-select--is-only-color-in-select-list-option
  .component-select__list__option:hover.component-select__list__option--is-checked,
.component-select--is-only-color-in-select-list-option
  .component-select__list__option:active.component-select__list__option--is-checked,
.component-select--is-only-color-in-select-list-option
  .component-select__list__option:focus-visible.component-select__list__option--is-checked {
  border: 0px solid;
  border-color: transparent;
  background-color: transparent;
  color: var(--component-select-color);
}
/* =========================
   Component - Select - TextArea
   ========================= */
.component-select__textarea {
  border: 0;
  background-color: transparent;
  min-height: initial;
  width: 100%;
  max-width: 100%;
  flex-grow: 1;
  padding: calc(var(--component-select-padding) / 2.8) 0px calc(var(--component-select-padding) / 2.8) 0px;
}
