/* =========================
   Component - Icon
   ========================= */
.component-icon {
  order: var(--component-icon-order);
  width: var(--component-icon-height-icon);
  min-width: var(--component-icon-height-icon);
  height: var(--component-icon-height-icon);
  min-height: var(--component-icon-height-icon);
  color: var(--component-icon-color);
  transform: rotate(var(--component-icon-turn));
}

/* =========================
   Component - Icon - Skeleton
   ========================= */
.component-icon__skeleton {
  order: var(--component-icon-skeleton-order);
  width: var(--component-icon-skeleton-height-icon);
  min-width: var(--component-icon-skeleton-height-icon);

  height: var(--component-icon-skeleton-height-icon);
  min-height: var(--component-icon-skeleton-height-icon);
  border-radius: 100%;
}
