/* remove-scrollbar */
.u-remove-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.u-remove-scrollbar::-webkit-scrollbar {
  display: none;
}

.u-remove-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

.u-remove-scrollbar::-webkit-scrollbar-track {
  display: none;
}

/* remove-outline */
.u-remove-outline {
  outline: 0 solid transparent !important;
  outline-offset: 0 !important;
}

/* tabular numbers */
.u-tabular-numbers {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

/* is-ripple */
.u-is-ripple {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

/* transition */
.u-transition-default {
}

.u-transition-font-size {
  transition:
    outline 0s,
    filter var(--transition-default),
    opacity var(--transition-default),
    background-color var(--transition-default),
    color var(--transition-default),
    box-shadow var(--transition-default),
    border-color var(--transition-default),
    font-size var(--transition-default);
}

.u-transition-icon {
  transition:
    outline 0s,
    filter var(--transition-default),
    opacity var(--transition-default),
    background-color var(--transition-default),
    color var(--transition-default),
    box-shadow var(--transition-default),
    border-color var(--transition-default);
}

.u-transition-icon path {
  transition: all var(--transition-default);
}

.u-transition-color {
  transition:
    outline 0s,
    filter var(--transition-default),
    opacity var(--transition-default),
    background-color var(--transition-default),
    color var(--transition-default),
    box-shadow var(--transition-default),
    border-color var(--transition-default);
}

.u-transition-grid {
  transition:
    grid-template-areas var(--transition-default),
    grid-template-columns var(--transition-default),
    grid-template-rows var(--transition-default);
}

.u-transition-without-size {
  transition:
    outline 0s,
    filter var(--transition-default),
    opacity var(--transition-default),
    transform var(--transition-default),
    background-color var(--transition-default),
    color var(--transition-default),
    visibility var(--transition-default),
    box-shadow var(--transition-default),
    border-color var(--transition-default),
    left var(--transition-default),
    right var(--transition-default),
    grid-template-areas var(--transition-default),
    grid-template-rows var(--transition-default),
    grid-template-columns var(--transition-default);
}

.u-transition-all {
  transition:
    outline 0s,
    filter var(--transition-default),
    opacity var(--transition-default),
    transform var(--transition-default),
    background-color var(--transition-default),
    height var(--transition-default),
    max-height var(--transition-default),
    width var(--transition-default),
    color var(--transition-default),
    visibility var(--transition-default),
    box-shadow var(--transition-default),
    border-color var(--transition-default),
    left var(--transition-default),
    right var(--transition-default),
    grid-template-areas var(--transition-default),
    grid-template-rows var(--transition-default),
    grid-template-columns var(--transition-default);
}

/* outline */

.u-outline-default:focus-visible {
  outline-offset: 1px;
  outline: 2px solid var(--accent-gray-light);
}

.u-outline-boxShadow:focus-visible {
  outline-offset: 0px;
  outline: 1px solid var(--product-primary);
  box-shadow:
    0 1px 1px var(--product-quinary),
    0 0 0 0.25rem var(--product-tertiary);
}

.u-outline-always {
  outline-offset: 1px;
  outline: 2px solid var(--accent-gray-light);
}

.u-outline-none {
  outline: none;
}

.u-outline-none:focus-visible {
  outline: none;
}

/* control */
.u-control-default:hover {
  filter: brightness(0.9);
}

.u-control-default:active {
  filter: brightness(0.95);
}

@media (hover: none) {
  .u-control-default:hover {
    filter: none;
  }
}

.u-control-only-active:active {
  filter: brightness(0.95);
}

.u-control-boxShadow:hover {
  box-shadow:
    0 1px 1px var(--product-quinary),
    0 0 0 0.25rem var(--product-tertiary);
}

.u-control-boxShadow:active {
  outline-offset: 4px;
  outline: 1px solid var(--product-secondary);
  box-shadow:
    0 1px 1px var(--product-quinary),
    0 0 0 0.25rem var(--product-secondary);
}

/* is-disabled */
.u-is-disabled {
  opacity: 0.5;
}

/* is-hover */
.u-is-hover {
  transition:
    background-color var(--transition-default),
    outline 0s;
}

/* shadow */

.u-shadow-primary {
  box-shadow: var(--shadow-primary-light);
}

.u-shadow-secondary {
  box-shadow: var(--shadow-secondary-light);
}

.u-shadow-quaternary {
  box-shadow: var(--shadow-quaternary-light);
}
