:root {
  /* ================= FONT ================= */
  --font-family: "Inter";
  --font-size: 16px;
  --font-weight: 400;
  --font-height: 1.2;

  --font-size-heading-headline: 28px;
  --font-size-heading-headline-plus-height: 4px;

  --font-size-heading-sub-headline: 11px;
  --font-size-heading-sub-headline-plus-height: 3px;

  --font-size-heading-title-1: 26px;
  --font-size-heading-title-1-plus-height: 6px;

  --font-size-heading-title-2: 22px;
  --font-size-heading-title-2-plus-height: 4px;

  --font-size-heading-title-3: 17px;
  --font-size-heading-title-3-plus-height: 5px;

  --font-size-heading-title-4: 15px;
  --font-size-heading-title-4-plus-height: 5px;

  --font-size-heading-title-5: 12px;
  --font-size-heading-title-5-plus-height: 4px;

  --font-size-heading-body: 13px;
  --font-size-heading-body-plus-height: 3px;

  --font-size-heading-callout: 13px;
  --font-size-heading-callout-plus-height: 3px;

  --font-size-heading-footnote: 10px;
  --font-size-heading-footnote-plus-height: 3px;

  --font-size-heading-caption-1: 10px;
  --font-size-heading-caption-1-plus-height: 3px;

  --font-size-heading-caption-2: 9px;
  --font-size-heading-caption-2-plus-height: 3px;

  /* ================= ANIMATION ================= */
  --duration: 0.3s;
  --easing: ease-in-out;

  --transition-default: 0.3s ease-in-out;
  --transition-icon: 0.05s ease-in-out;

  /* ================= TRANSITIONS ================= */

  --transition-color:
    outline 0s,
    opacity 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  --transition-grid:
    grid-template-areas 0.3s ease-in-out, grid-template-columns 0.3s ease-in-out, grid-template-rows 0.3s ease-in-out;

  --transition-without-size:
    outline 0s,
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    visibility 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    left 0.3s ease-in-out,
    right 0.3s ease-in-out,
    grid-template-areas 0.3s ease-in-out,
    grid-template-rows 0.3s ease-in-out,
    grid-template-columns 0.3s ease-in-out;

  --transition-all:
    outline 0s,
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    height 0.3s ease-in-out,
    max-height 0.3s ease-in-out,
    width 0.3s ease-in-out,
    color 0.3s ease-in-out,
    visibility 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    left 0.3s ease-in-out,
    right 0.3s ease-in-out,
    grid-template-areas 0.3s ease-in-out,
    grid-template-rows 0.3s ease-in-out,
    grid-template-columns 0.3s ease-in-out;

  /* ================= SIZES ================= */
  /* LARGE */
  --size-large-height: 46px;
  --size-large-height-icon: 24px;
  --size-large-radius: 6px;
  --size-large-padding: 16px;
  --size-large-font: 20px;

  /* LARGE MEDIUM */
  --size-large-medium-height: 42px;
  --size-large-medium-height-icon: 22px;
  --size-large-medium-radius: 6px;
  --size-large-medium-padding: 14px;
  --size-large-medium-font: 18px;

  /* MEDIUM */
  --size-medium-height: 38px;
  --size-medium-height-icon: 20px;
  --size-medium-radius: 6px;
  --size-medium-padding: 12px;
  --size-medium-font: 16px;

  /* MEDIUM SMALL */
  --size-medium-small-height: 34px;
  --size-medium-small-height-icon: 18px;
  --size-medium-small-radius: 6px;
  --size-medium-small-padding: 10px;
  --size-medium-small-font: 14px;

  /* SMALL */
  --size-small-height: 30px;
  --size-small-height-icon: 16px;
  --size-small-radius: 8px;
  --size-small-padding: 8px;
  --size-small-font: 12px;
}

@media screen and (max-width: 1290px) {
  :root {
    /* ================= FONT ================= */
    --font-size-heading-headline: 24px;
    --font-size-heading-sub-headline: 9px;
    --font-size-heading-title-1: 22px;
    --font-size-heading-title-2: 18px;
    --font-size-heading-title-3: 14px;
    --font-size-heading-title-4: 13px;
    --font-size-heading-title-5: 9px;
    --font-size-heading-body: 11px;
    --font-size-heading-callout: 11px;
    --font-size-heading-footnote: 8px;
    --font-size-heading-caption-1: 8px;
    --font-size-heading-caption-2: 7px;
  }
}

@media screen and (max-width: 850px) {
  :root {
    /* ================= FONT ================= */
    --font-size-heading-headline: 20px;
    --font-size-heading-sub-headline: 7px;
    --font-size-heading-title-1: 18px;
    --font-size-heading-title-2: 14px;
    --font-size-heading-title-3: 11px;
    --font-size-heading-title-4: 10px;
    --font-size-heading-title-5: 7px;
    --font-size-heading-body: 9px;
    --font-size-heading-callout: 9px;
    --font-size-heading-footnote: 6px;
    --font-size-heading-caption-1: 6px;
    --font-size-heading-caption-2: 5px;
  }
}

:root {
  /* ================= ACCENTS ================= */

  --accent-red: rgba(255, 59, 48, 1);
  --accent-red-vibrant: rgba(245, 49, 38, 0.4);

  --accent-orange: rgba(255, 149, 0, 1);
  --accent-orange-vibrant: rgba(245, 139, 0, 0.4);

  --accent-yellow: rgba(255, 204, 0, 1);
  --accent-yellow-vibrant: rgba(245, 194, 0, 0.4);

  --accent-green: rgba(40, 205, 65, 1);
  --accent-green-vibrant: rgba(30, 195, 55, 1);

  --accent-mint: rgba(0, 199, 190, 1);
  --accent-mint-vibrant: rgba(0, 189, 180, 1);

  --accent-teal: rgba(89, 173, 196, 1);
  --accent-teal-vibrant: rgba(46, 167, 189, 1);

  --accent-cyan: rgba(85, 190, 240, 1);
  --accent-cyan-vibrant: rgba(65, 175, 220, 1);

  --accent-blue: rgba(0, 122, 255, 1);
  --accent-blue-vibrant: rgba(0, 112, 245, 1);

  --accent-indigo: rgba(88, 86, 214, 1);
  --accent-indigo-vibrant: rgba(84, 82, 204, 1);

  --accent-purple: rgba(175, 82, 222, 1);
  --accent-purple-vibrant: rgba(159, 75, 201, 1);

  --accent-pink: rgba(255, 45, 85, 1);
  --accent-pink-vibrant: rgba(245, 35, 75, 1);

  --accent-brown: rgba(162, 132, 94, 1);
  --accent-brown-vibrant: rgba(152, 122, 84, 1);

  --accent-gray: rgba(142, 142, 147, 1);
  --accent-gray-vibrant: rgba(132, 132, 137, 1);

  /* ================= FILLS ================= */

  --fill-primary: rgba(0, 0, 0, 0.85);
  --fill-secondary: rgba(0, 0, 0, 0.5);
  --fill-tertiary: rgba(0, 0, 0, 0.25);
  --fill-quaternary: rgba(0, 0, 0, 0.1);
  --fill-quinary: rgba(0, 0, 0, 0.05);

  --fill-primary-vibrant: rgba(77, 77, 77, 1);
  --fill-secondary-vibrant: rgba(128, 128, 128, 1);
  --fill-tertiary-vibrant: rgba(128, 128, 128, 0.4);
  --fill-quaternary-vibrant: rgba(128, 128, 128, 0.2);
  --fill-quinary-vibrant: rgba(128, 128, 128, 0.14);

  /* ================= TEXT ================= */

  --text-primary: rgba(0, 0, 0, 0.85);
  --text-secondary: rgba(0, 0, 0, 0.5);
  --text-tertiary: rgba(0, 0, 0, 0.25);

  --text-primary-vibrant: rgba(0, 0, 0, 1);
  --text-secondary-vibrant: rgba(127, 127, 127, 0.5);
  --text-tertiary-vibrant: rgba(127, 127, 127, 0.4);

  /* ================= CONTROLS ================= */

  --control-menu: rgba(40, 40, 40, 0.58);
  --control-tooltip: rgba(246, 246, 246, 0.6);
  --control-transparent: rgba(255, 255, 255, 0);

  /* ================= PRODUCT ================= */

  --product-primary: rgba(65, 149, 210, 1);
  --product-secondary: rgba(65, 149, 210, 0.5);
  --product-tertiary: rgba(65, 149, 210, 0.25);
  --product-quaternary: rgba(65, 149, 210, 0.1);
  --product-quinary: rgba(65, 149, 210, 0.05);
  --product-primary-vibrant: rgba(65, 149, 210, 1);

  /* ================= SHADOWS ================= */

  --shadow-glass: 0px 1px 8px rgba(0, 0, 0, 0.1), inset 0px 0px 8px rgba(242, 242, 242, 1);
  --shadow-primary: 0px 0px 3px rgba(0, 0, 0, 0.55), 0px 36px 100px rgba(0, 0, 0, 0.4);
  --shadow-secondary: 0px 8px 40px rgba(0, 0, 0, 0.25);
  --shadow-quaternary: 0px 4px 20px rgba(0, 0, 0, 0.25);

  /* ================= SPECIAL ================= */

  --current-color: currentColor;
  --inherit: inherit;
  --transparent: transparent;
}

:root[data-theme="dark"] {
  /* ================= ACCENTS ================= */

  --accent-red: rgba(255, 69, 58, 1);
  --accent-orange: rgba(255, 159, 10, 1);
  --accent-yellow: rgba(255, 214, 10, 1);
  --accent-green: rgba(50, 215, 75, 1);
  --accent-mint: rgba(102, 212, 207, 1);
  --accent-teal: rgba(106, 196, 220, 1);
  --accent-cyan: rgba(90, 200, 245, 1);
  --accent-blue: rgba(10, 132, 255, 1);
  --accent-indigo: rgba(94, 92, 230, 1);
  --accent-purple: rgba(191, 90, 242, 1);
  --accent-pink: rgba(255, 55, 95, 1);
  --accent-brown: rgba(172, 142, 104, 1);
  --accent-gray: rgba(152, 152, 157, 1);

  --accent-red-vibrant: rgba(255, 79, 68, 1);
  --accent-orange-vibrant: rgba(255, 169, 20, 1);
  --accent-yellow-vibrant: rgba(255, 224, 20, 1);
  --accent-green-vibrant: rgba(60, 225, 85, 1);
  --accent-mint-vibrant: rgba(108, 224, 219, 1);
  --accent-teal-vibrant: rgba(68, 212, 250, 1);
  --accent-cyan-vibrant: rgba(90, 205, 250, 1);
  --accent-blue-vibrant: rgba(20, 142, 255, 1);
  --accent-indigo-vibrant: rgba(99, 97, 242, 1);
  --accent-purple-vibrant: rgba(204, 101, 255, 1);
  --accent-pink-vibrant: rgba(255, 65, 105, 1);
  --accent-brown-vibrant: rgba(182, 152, 114, 1);
  --accent-gray-vibrant: rgba(162, 162, 167, 1);

  /* ================= FILLS ================= */

  --fill-primary: rgba(255, 255, 255, 0.85);
  --fill-secondary: rgba(255, 255, 255, 0.55);
  --fill-tertiary: rgba(255, 255, 255, 0.25);
  --fill-quaternary: rgba(255, 255, 255, 0.1);
  --fill-quinary: rgba(255, 255, 255, 0.05);

  --fill-primary-vibrant: rgba(255, 255, 255, 1);
  --fill-secondary-vibrant: rgba(150, 150, 150, 1);
  --fill-tertiary-vibrant: rgba(178, 178, 178, 1);
  --fill-quaternary-vibrant: rgba(178, 178, 178, 0.4);
  --fill-quinary-vibrant: rgba(178, 178, 178, 0.18);

  /* ================= TEXT ================= */

  --text-primary: rgba(255, 255, 255, 0.85);
  --text-secondary: rgba(255, 255, 255, 0.55);
  --text-tertiary: rgba(255, 255, 255, 0.25);

  --text-primary-vibrant: rgba(255, 255, 255, 1);
  --text-secondary-vibrant: rgba(127, 127, 127, 0.5);
  --text-tertiary-vibrant: rgba(127, 127, 127, 0.4);

  /* ================= CONTROLS ================= */

  --control-menu: rgba(246, 246, 246, 0.72);
  --control-tooltip: rgba(0, 0, 0, 0.35);

  /* ================= SHADOWS ================= */

  --shadow-glass: 0px 1px 8px rgba(0, 0, 0, 0.1), inset 0px 0px 16px rgba(242, 242, 242, 1);
  --shadow-primary: 0px 36px 100px rgba(0, 0, 0, 0.7);
  --shadow-secondary: 0px 8px 40px rgba(0, 0, 0, 0.7);
  --shadow-quaternary: 0px 4px 20px rgba(0, 0, 0, 0.45);
}
